.avue-tags {
  .el-tabs--card > .el-tabs__header .el-tabs__item {
    font-size: $--font-size-base;
    line-height: 36px;
    height: 36px;
  }
  .avue-tags__contentmenu .item {
    font-size: $--font-size-base;
  }
}