body {
  font-family: Verdana, Simsun, Helvetica, Arial, sans-serif;
  color: #666;
}
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {
  margin: 0;
  padding: 0;
}
img {
  border: 0 none;
  vertical-align: top;
}
ul, li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
@function rem($px) {
  @return ($px / 16) * 1rem
}
.templet {
  .templet_bg {
    width: 100%;
    margin: 0 auto;
    background: url(https://pic.elinkmall.com/zhoufang/images/ebay_bg5_03.jpg) repeat-y;
    background-size: contain;
    .content {
      width: 100%;
      padding: 0 rem(40);
      box-sizing: border-box;
      .card {
        margin-bottom: 10px;
        .card-title {
          width: 100%;
          height: rem(35);
          background-image: linear-gradient(#f9f9f9, #d5d5d5);
          span {
            width: rem(150);
            height: rem(35);
            margin-left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font: rem(16) Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: #fff;
            background-color: #d80202;
          }
        }
      }
      .hot-selling {
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 5px;
        background-color: #ffffff;
        border: 2px solid #ff5656;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        box-sizing: border-box;
        a {
          display: block;
          width: rem(200);
          min-width: 200px;
          padding: 10px;
          margin: 4px;
          text-align: center;
          border-radius: 6px;
          border: 1px solid #d0d0d0;
          overflow: hidden;
          -webkit-tap-highlight-color: transparent;
          box-sizing: border-box;
          &:hover {
            border: 1px solid #d0d0d0;
            border-radius: 6px;
            background: #e6e3e3;
            transition: background 0.5s;
            -webkit-transition: background 0.5s;
          }
          .product {
            .image {
              text-align: center;
              img {
                width: 100%;
                display: inline-block;
              }
            }
            .title {
              margin: 5px 0;
              font-size: rem(14);
              font-family: Arial;
              text-align: center;
              color: #191919;
              display: -webkit-box;
              -webkit-line-clamp:2;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-box-orient: vertical;
              box-sizing: border-box;
            }
            .price {
              color: #bf0000;
              font-size: rem(16);
              font-family: Arial;
              font-weight: 600;
              -webkit-text-size-adjust: none;
              box-sizing: border-box;
            }
          }
        }
      }
      .details {
        img {
          display: block;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          margin-top: 10px;
        }
      }
      .description {
        margin-top: 10px;
        margin-left: 0;
        font: rem(14) Arial, Helvetica, sans-serif;
        color: #444;
        line-height: 24px;
      }
      .tab-list {
        .tab-input {
          display: none;
        }
        #tab-label1:checked ~ .tab-head .tab-li1,
        #tab-label2:checked ~ .tab-head .tab-li2,
        #tab-label3:checked ~ .tab-head .tab-li3,
        #tab-label4:checked ~ .tab-head .tab-li4 {
          color: red;
        }
        #tab-label1:checked ~ .tab-body .tab-content1,
        #tab-label2:checked ~ .tab-body .tab-content2,
        #tab-label3:checked ~ .tab-body .tab-content3,
        #tab-label4:checked ~ .tab-body .tab-content4 {
          display: block;
        }
        .tab-head {
          width: 100%;
          font-size: rem(16);
          ul {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            li {
              width: 100%;
              height: 34px;
              line-height: 34px;
              font-weight: bold;
              text-align: center;
              background-image: linear-gradient(#f9f9f9, #d5d5d5);
              label {
                display: block;
                width: 100%;
                height: 34px;
                cursor: pointer;
                -webkit-tap-highlight-color: transparent;
              }
            }
          }
        }
        .tab-body {
          width: 100%;
          font-size: rem(14);
          overflow: hidden;
          > div {
            display: none;
            img {
              width: 100%;
              height: 100%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}