@function rem($px) {
  @return ($px / 18) * 1rem
}
html {
  font-size: (18 / 1250) * 100vw;
  @media only screen and (max-width: 480px) {
    font-size: 12px;
  }
  @media only screen and (min-width: 1250px) {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1250px) { // < 1250
  .wrapper-two {
    .promo-head {
      .wrapper {
        ul {
          li {
            &:first-child {
              margin-right: rem(200);
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  .wrapper-two {
    &::after {
      background-position: center 353px;
    }
    .header {
      display: block;
      .logo {
        margin: rem(30) auto;
      }
      .nav {
        flex-wrap: wrap-reverse;
        .menu {
          width: 100%;
          min-width: 300px;
          height: auto;
          margin: rem(20) auto 0;
          text-align: center;
          box-sizing: border-box;
          ul {
            display: block;
            li {
              height: 30px;
              line-height: 30px;
              overflow: hidden;
              a {
                display: inline;
                &:after {
                  bottom: -15px;
                }
              }
            }
          }
        }
        .new-product {
          margin: 0 auto;
        }
      }
    }
    .promo-head {
      .wrapper {
        ul {
          display: block;
          li {
            text-align: center;
            &:first-child {
              margin-right: 0;
            }
            &:nth-child(2) {
              justify-content: center;
              margin-right: 0;
              padding-right: 0;
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
    .product-content {
      .product-image-box {
        flex-wrap: wrap-reverse;
        align-items: center;
        .img-small {
          width: 100%;
          justify-content: center;
        }
        .enlarge {
          width: 100%;
          div {
            margin: 0 auto;
          }
        }
        .img-big {
          margin: 0 auto;
        }
      }
      .promo-bottom {
        flex-wrap: wrap;
        background-color: #000;
        .newsletter {
          p {
            font-size: 12px;
          }
          a {
            font-size: 12px;
          }
        }
      }
    }
    .footer {
      .footer-nav {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
@media only screen and (max-width: 720px) {
  .wrapper-two {
    .product-content {
      .product-tab {
        .tab-list {
          height: auto;
          display: block;
          .tab-item {
            label {
              position: relative;
              height: rem(50);
              &::before,
              &::after {
                background-color: transparent;
              }
              .iconfont {
                display: block;
                position: absolute;
                right: 10px;
                transition: all .3s ease-in-out;
              }
            }
            .tab-content {
              position: relative;
              display: block;
              height: 0;
              padding: 0;
              margin-top: 10px;
              transition: all .3s ease-in-out;
              overflow-y: auto;
            }
            .tab-input:checked + label .iconfont {
              transform: rotate(180deg);
            }
            .tab-input:checked ~ .tab-content {
              height: rem(200);
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .wrapper-two {
    .product-content {
      .product-image-box {
        .img-big {
          width: rem(500);
        }
      }
    }
  }
}

