html {
  font-size: 1.44vw;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1250px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1250px) {
  .wrapper-two .promo-head .wrapper ul li:first-child {
    margin-right: 11.11111rem;
  }
}

@media only screen and (max-width: 900px) {
  .wrapper-two .header {
    display: block;
  }
  .wrapper-two .header .logo {
    margin: 1.66667rem auto;
  }
  .wrapper-two .header .nav {
    display: block;
  }
  .wrapper-two .header .nav .menu {
    width: 300px;
    min-width: 300px;
    height: auto;
    margin: 2.5rem auto 0;
    text-align: center;
  }
  .wrapper-two .header .nav .menu ul {
    display: block;
  }
  .wrapper-two .header .nav .menu ul li {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
  }
  .wrapper-two .header .nav .menu ul li a {
    display: inline;
  }
  .wrapper-two .header .nav .menu ul li a:after {
    bottom: -15px;
  }
  .wrapper-two .header .nav .new-product {
    margin: 0 auto;
  }
  .wrapper-two .promo-head .wrapper ul {
    display: block;
  }
  .wrapper-two .promo-head .wrapper ul li {
    text-align: center;
  }
  .wrapper-two .promo-head .wrapper ul li:first-child {
    margin-right: 0;
  }
  .wrapper-two .promo-head .wrapper ul li:nth-child(2) {
    justify-content: center;
    margin-right: 0;
    padding-right: 0;
  }
  .wrapper-two .promo-head .wrapper ul li:nth-child(2)::after {
    display: none;
  }
  .wrapper-two .product-content .product-image-box {
    display: block;
  }
  .wrapper-two .product-content .product-image-box .img-small {
    width: auto;
    justify-content: center;
  }
  .wrapper-two .product-content .product-image-box .enlarge {
    margin: 0 auto;
  }
  .wrapper-two .product-content .product-image-box .img-big {
    margin: 0 auto;
  }
  .wrapper-two .product-content .promo-bottom {
    flex-wrap: wrap;
  }
  .wrapper-two .footer .footer-nav {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 720px) {
  .wrapper-two .product-content .product-tab .tab-list {
    height: auto;
    display: block;
  }
  .wrapper-two .product-content .product-tab .tab-list .tab-item label {
    height: 2.77778rem;
  }
  .wrapper-two .product-content .product-tab .tab-list .tab-item label:before, .wrapper-two .product-content .product-tab .tab-list .tab-item label:after {
    background-color: transparent;
  }
  .wrapper-two .product-content .product-tab .tab-list .tab-item .tab-content {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    margin-top: 10px;
    transition: all .3s ease-in-out;
    overflow-y: scroll;
  }
  .wrapper-two .product-content .product-tab .tab-list .tab-item .tab-input:checked ~ .tab-content {
    height: 11.11111rem;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .wrapper-two .product-content .product-image-box .img-big {
    width: 27.77778rem;
  }
}
